@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Login";
}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/myStyle.css">
</head>

<body>
    <header></header>
    <form class="login-form" method="post">
        <div class="label-holder">
            <label for="login">Логин</label><br>
        </div>
        <div class="input-holder">
            <input type="text" placeholder="Введите ваш логин" name="login" id="login" /><br>
        </div>

        <div class="label-holder">
            <label for="password">Пароль</label><br>
        </div>
        <div class="input-holder">
            <input type="password" placeholder="Введите ваш пароль" name="password" id="password" /><br>
        </div>
        
        <div class="btn-holder">
            <button type="submit" class="login-btn">Авторизоваться</button>
        </div>        
    </form>
    <p class="time">@DateTime.Now</p>
    <footer></footer>
</body>

